In [6]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)

In [22]:
# Import libraries
import mysql.connector as connection
import pandas as pd
#import plotly.express as px
#import matplotlib.pyplot as plt
#import os
#import sqlalchemy as sa
pd.options.display.max_columns = 100000

In [27]:
try:
    # Get user input for MySQL connection details
    host = input("Enter MySQL host (default is localhost): ") or "localhost"
    username = input("Enter MySQL username (default is root): ") or "root"
    password = input("Enter MySQL password (default is root): ") or "root"
    database = input("Enter MySQL database (default is world): ") or "world"
    table = input("Enter table name (default is city): ") or "city"
    column = input("Enter column name (default is *): ") or "*"

    # Establish a connection to the MySQL database

    mydb = connection.connect(host=host, database = database,user=username, passwd=password,use_pure=True)
    query = f"Select {column} from {table};"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close() #close the connection
    print('MySQLfetced data successfully')
except Exception as e:
    mydb.close()
    print(str(e))

MySQLfetced data successfully

C:\Users\Anders Lund Ørnfeldt\AppData\Local\Temp\ipykernel_17288\1083439505.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result_dataFrame = pd.read_sql(query,mydb)

In [26]:
result_dataFrame

,Code,Name,Continent,Region,SurfaceArea,IndepYear,Population,LifeExpectancy,GNP,GNPOld,LocalName,GovernmentForm,HeadOfState,Capital,Code2
0,ABW,Aruba,North America,Caribbean,193.0,NaN,103000,78.4,828.0,793.0,Aruba,Nonmetropolitan Territory of The Netherlands,Beatrix,129.0,AW
1,AFG,Afghanistan,Asia,Southern and Central Asia,652090.0,1919.0,22720000,45.9,5976.0,NaN,Afganistan/Afqanestan,Islamic Emirate,Mohammad Omar,1.0,AF
2,AGO,Angola,Africa,Central Africa,1246700.0,1975.0,12878000,38.3,6648.0,7984.0,Angola,Republic,JosÃ© Eduardo dos Santos,56.0,AO
3,AIA,Anguilla,North America,Caribbean,96.0,NaN,8000,76.1,63.2,NaN,Anguilla,Dependent Territory of the UK,Elisabeth II,62.0,AI
4,ALB,Albania,Europe,Southern Europe,28748.0,1912.0,3401200,71.6,3205.0,2500.0,ShqipÃ«ria,Republic,Rexhep Mejdani,34.0,AL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,YEM,Yemen,Asia,Middle East,527968.0,1918.0,18112000,59.8,6041.0,5729.0,Al-Yaman,Republic,Ali Abdallah Salih,1780.0,YE
235,YUG,Yugoslavia,Europe,Southern Europe,102173.0,1918.0,10640000,72.4,17000.0,NaN,Jugoslavija,Federal Republic,Vojislav KoÂštunica,1792.0,YU
236,ZAF,South Africa,Africa,Southern Africa,1221037.0,1910.0,40377000,51.1,116729.0,129092.0,South Africa,Republic,Thabo Mbeki,716.0,ZA
237,ZMB,Zambia,Africa,Eastern Africa,752618.0,1964.0,9169000,37.2,3377.0,3922.0,Zambia,Republic,Frederick Chiluba,3162.0,ZM
238,ZWE,Zimbabwe,Africa,Eastern Africa,390757.0,1980.0,11669000,37.8,5951.0,8670.0,Zimbabwe,Republic,Robert G. Mugabe,4068.0,ZW